/* Removed Tailwind imports */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: #eee !important;
  color: #aaa !important;
  border-color: #ddd !important;
} 
*/ 